@import "color";
.linkCentralizado{
    text-align: center;
}
.botonDeLinks{
    text-transform: uppercase;
    margin: 10px auto;
}
.botonDeLinks__link{
    text-align: center;
    text-transform: uppercase;
}
.enlaceDeCompra{
    font-weight: bold;
    text-align: center;
    color: $colorDoradoRod;
    text-transform: capitalize;
    animation-name: linkDeCompra;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    margin: 0px 0px 10px 0px;
}
.enlace{
    font-weight: bold;
    text-align: center;
    color: $colorBlanco;
    text-transform: capitalize;
}

@keyframes linkDeCompra{
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0.8;
    }
    20% {
        opacity: 0.6;
    }
    30% {
        opacity: 0.4;
    }
    40% {
        opacity: 0.2;
    }
    50% {
        opacity: 0.1;
    }
    60% {
        opacity: 0.2;
    }
    70% {
        opacity: 0.4;
    }
    80% {
        opacity: 0.6;
    }
    90% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
    
}

/*id*/
#linkDeCompra{
    color: $colorDoradoRod;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}